<%- include("partials/head") %>
<%- include("partials/navbar") %>

    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
      sapiente natus velit ea temporibus facere provident optio dolore, suscipit
      fugiat magnam exercitationem ipsa quasi nam vero recusandae. Iure,
      quisquam.
    </p>
    <p>
      Cumque, quasi obcaecati rerum ad minus minima ipsum exercitationem,
      recusandae repellendus est eos! Necessitatibus ipsam perferendis aut
      accusantium harum minima nam illo nisi, molestias nemo ut tempora quo
      repellendus natus.
    </p>

<%- include("partials/footer") %>
